@import 'colors';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: $black;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

.section{
    padding: 2em 3.5em;
}

.headline{
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // text-transform: uppercase;
    font-size: 2.4rem;
    color: rgb(230, 228, 228);
    padding: 1.6em;
    text-align: center;
    position: relative;
    
}

// NAV

.mobile-nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    color: $white;
    font-size: 2.3rem;
    background-color: rgb(19, 18, 15);
    z-index: 1000;
    span{
        color: $orange;
    }
    .hamburger{
        width: 35px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 7px; 
        &-line{
            width: 100%;
            height: 3px;
            background-color: $white;
        }
        // .second-hamburger-line{
        //     width: 80%;
        // }
        // .third-hamburger-line{
        //     width: 50%;
        // }

    }
}

.big-nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    color: $white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    text-decoration: none;
    padding: 2.5em 3em;
    background-color: $black;
    z-index: 1000;
    &__links{
        position: relative;
        width: 100%;
        display: flex;
        .name{
            width: 30%;
            font-size: 3rem;
            span{
                color: $orange;
            }
        }
        .nav-options{
            width: 70%;
            // background-color: #fff;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2em;
            a{
                text-decoration: none;
                color: inherit;
            }
      
        }
    }
}

// HERO SECTION
.hero{
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 10vh;
    
    &__image{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: url('/images/shop-background-small.jpg');
        background-size: cover;
        background-position: center;


    }
    &__background{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.75);
    }
    &__text{
        position: relative;
        width: 100%;
        height: 100%;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2em;
        h1{
            font-size: 2.6rem;
            margin-bottom: 1em;
        }
        p{
            font-size: 1.6rem;
            font-weight: 300;
        }
        button{
            position: absolute;
            bottom: 10%;
            border: none;
            padding: 1em 2em;
            border-radius: 8px;
            font-size: 1.3rem;
            font-weight: bold;
            background-color: $orange;
            text-transform: uppercase;
            cursor: pointer;
            
        }

    }
    .hero-text-big{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $white;
        display: none;
        &__headline{
            position: absolute;
            left: 0;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // text-align: center;
            h1{
                font-size: 6rem;
                margin-bottom: .5em;
            }
            p{
                align-self: flex-start;
                font-size: 3.5rem;
                font-weight: 300;
            }
            
        }
        &__button{
            position: absolute;
            width: 50%;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                border: none;
                padding: 1em 2em;
                border-radius: 8px;
                font-size: 2.4rem;
                font-weight: bold;
                background-color: $orange;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}

// ABOUT US SECTION

.about-us{
    &__cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__card{
        position: relative;
        width: 100%;
        height: 350px;
        background-color: azure;
        margin: 1em;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
        overflow: hidden;
        
        &--first{
            background-image: url('/images/elvis-small.jpg');
            background-image: url('/images/shop-small.jpg');
        }
        &--second{
            background-image: url('/images/vinyl-stand-small.jpg');
        }
        &--third{
            background-image: url('/images/elvis-small.jpg');
        }
        .card-background{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(14, 14, 13, 0.75);
        }
        .card-text{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            max-width: 70%;
            margin: auto;
            color: white;
            
            font-size: 1.7rem;
            text-align: center;
            
            h4{
                color: $orange;
                font-weight: bold;
                font-size: 2.4rem;
            }
            button{
                border: none;
                width: 100%;
                padding: .8em;
                border-radius: 8px;
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

// MEDIA

@media (min-width:576px){
    .hero{
        &__text{
            h1{
                font-size: 3.3rem;
            }
            p{
                font-size: 2.3rem;
            }
            button{
                font-size: 2rem;
            }
        }
    }
}

// .headline{
//     display: block;
//     margin: auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // text-transform: uppercase;
//     font-size: 2.2rem;
//     color: rgb(230, 228, 228);
//     padding: 2.5rem;
// }

@media (min-width:768px){
    .headline{
        font-size: 3.4rem;
        padding: 1.2em;
    }
    .mobile-nav{
        display: none;
    }
    .big-nav{
        display: flex;
    }

    .hero{
        &__image{
            background-image: url('/images/shop-background-big.jpg');
            height: 50vh;
        }
    }
    .hero{
        &__text{
            h1{
                font-size: 3.7rem;
            }
            p{
                font-size: 2.5rem;
            }
            button{
                font-size: 2.2rem;
            }
        }
    }
    .about-us{
        &__cards{
            flex-direction: row;
        }
        &__card{
            width: 40%;
            height: 400px;
            margin: 2.5em;
            transition: transform .1s;
            &:hover{
                transform: translateY(-10px);
            }
            .card-text{
                max-width: 80%;
                font-size: 2rem;
                h4{
                    font-size: 2.5rem;
                }
                button{
                    padding: .8em 1.2em;
                    font-size: 1.8rem;
                    
                }
            }
        }
    }
}

@media (min-width:1024px){
    .headline{
        font-size: 4.6rem;
        padding: 1.4em;
    }
    .hero{
        &__text{
            // display: none;
            h1{
                font-size: 6rem;
            }
            p{
                font-size: 3.5rem;
            }
            button{
                font-size: 2.5rem;
            }
        }

    }

    .about-us{
        &__card{
            margin: 1.43em;
            justify-content: space-between;
            width: 31%;
            height: 500px;
            transition: transform .2s;
            &:hover{
                transform: translateY(-10px);
            }
            .card-text{
                max-width: 80%;
                font-size: 2.3rem;
                h4{
                    font-size: 3rem;
                }
                button{
                    padding: .8em 1.2em;
                    font-size: 2rem;
                    
                }
            }
        }
    }
}

@media (min-width:1700px){
    .hero{
        .hero-text-big{
            display: flex;
        }
        &__text{
            display: none;
        }
    }
    
}